<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="style/index.css">
  <link rel="shortcut icon" href="https://images.unsplash.com/photo-1579047917338-a6a69144fe63?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8Y3VzdG9tZXJ8ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rampart+One&display=swap" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <!-- HTML Meta Tags -->
  <title>Customer Relationship-Management</title>
  <meta name="description"
    content="This is a single page Application which displays ten diffferent startwars character with specific attributes which includes name, height and gender.">

  <!-- Facebook Meta Tags -->
  <meta property="og:url" content="https://customer-care10.herokuapp.com/">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Customer_Relationship-Management">
  <meta property="og:description"
    content="This is a single page Application which displays ten diffferent users details .">
  <meta property="og:image"
    content="">

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta property="twitter:domain" content="https://customer-care10.herokuapp.com/"">
  <meta property="twitter:url" content="https://customer-care10.herokuapp.com/">
  <meta name="twitter:title" content="Customer Relationship-Management">
  <meta name="twitter:description"
    content="This is a single page Application which displays ten diffferent startwars character with specific attributes which includes name, height and gender.">
  <meta name="twitter:image"
    content="Customer Relationship-Management">

  <!-- Meta Tags Generated via https://www.opengraph.xyz -->
</head>

<body>

  <header>
    <div class="pos-f-t">
      <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-dark p-4">
          <h4 class="text-white">Node Application</h4>
          <span class="text-muted">Customer Relationship-Management🔥🔥🔥🔥</span>
        </div>
      </div>
      <nav class="navbar navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent"
          aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </nav>
    </div>
  </header>

  <section>
    <div class="container-fluid  p-5">
       <h1 class="dispaly-3 text-center" > Customer Relationship-Management System </h1>
        <a href="/admin">  <h1 class="dispaly-3 text-center" > EDIT CUSTOMER DETAILS </h1></a>
      <div class="row" id="lists">
        <% users.forEach((user, i) => { %>
        <div class="col-sm-4"><br>
          <div class="card">
            <div class="card-body text-center">
              <img src="images/male<%= i+1 %>.png" style="height:300px">
            </div>
            <button type="button" class="btn btn-dark show-data" data-toggle="modal" data-target="<%= '#'+user.email.split('@')[0] %>">
              <%= user.fullname %>
            </button>
          </div>
          <section>
            <div class="modal fade" id="<%= user.email.split('@')[0] %>" tabindex="-1" role="dialog" aria-labelledby="tLabel"
              aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="tLabel"> Customer Details </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p id="">
                      <div class="char">
                        <p> Name: <%= user.fullname%> </p>
                        <p> Gender: <%= user.gender %> </p>
                        <p> Phone Number : <%= user.phone%> </p>
                        <p> Email : <%= user.email %> </p>
                        <p> Address: <%= user.address %> </p>
                        <p> Notes: <%= user.notes %> </p>
                  </div>
                    </p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
        <% }) %>
      </div>
    </div>
  </section>


  <!-- Modal -->
  <footer>
    <div class="footer-copyright text-center py-3">© 2021 Copyright:
    </div>
  </footer> 
</body>
<script src="js/index.js"> </script>

</html>
